<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/admin/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/admin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/admin/css/style.css" rel="stylesheet">
</head>

<body>
    <style>
    
    </style>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"> Admin </h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/home" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                    <a href="category" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Category</a>
                    <a href="product" class="nav-item nav-link active"><i class="fa fa-table me-2"></i>Products</a>
                    <a href="usersList" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Users</a>
                     <a href="salesPage" class="nav-item nav-link"><i class="fa fa-chart-line me-2"></i></i>Sales Report</a>
                     <a href="allOrders" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>All orders</a>

                    
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <!--table to show product -->
        


        <!-- Content Start -->
        <div class="content"  style="margin-left: 200px;width: calc(100% - 200px);">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            
                            <a href="/admin/logout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!--Add category Form-->
            <!-- admin.hbs -->
<div class="container" style="margin-top: 2rem;">
  <h1>Product List</h1>
  <div class="dropdown">
    <button class="btn btn-success add-button dropdown-toggle" type="button" id="addProductDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add Product
    </button>
    <div class="dropdown-menu" aria-labelledby="addProductDropdown">
      <form action="product/{{this._id}}" method="post" enctype="multipart/form-data" class="px-4 py-3" >
        <div class="form-group">
          <label for="productName">Product Name</label>
          <input type="text" class="form-control" id="productName" placeholder="Enter product name" name="productName" required>
        </div>
        <div class="form-group">
          <label for="productPrice">Price</label>
          <input type="number" class="form-control" id="productPrice" placeholder="Enter product price" name="productPrice" required>
        </div>
        <div class="form-group" style="margin-top: 20px; margin-bottom: 30px;">
          <label for="productImage">Product Image</label>
          <input type="file" class="form-control-file" id="productImage" name="productImage" required multiple>
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
          <label for="productDescription">Product Description</label>
          <textarea class="form-control" id="productDescription" rows="3" placeholder="Enter product description" name="productDescription" required></textarea>
        </div>

        <div class="form-group" class="mt-5" style="margin-bottom: 20px;">
          <label for="productName">Product Category</label>
          <select name="category" class="form-control" required>

            {{#each categories}}
            <option value="{{_id}}">{{this.categoryName}}</option>
              {{/each}}
          </select>
        </div>


        <div class="form-group" style="margin-bottom: 20px;">
          <label for="productName">Product Stock</label>
          <input type="text" class="form-control" id="productStock" placeholder="Update the stock here"
            name="productStock" required>
        </div>
        <div class="form-group" style="margin-top;10px">
          <label for="productDiscount">Product Discount</label>
          <input type="text" class="form-control" id="productStock" placeholder="Discount%" name="productDiscount"
            >
        </div>

         
        
        <button type="submit" class="btn btn-primary" style="margin-top: 6px;">Submit</button>
      </form>
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Image</th>
        {{!-- <th>Description</th> --}}
        <th>Category</th>
        <th>Blocked</th>
        <th>stock</th>
        <th>Discount%</th>
      </tr>
    </thead>

    <tbody>
     {{#each products}}
     {{!-- <tr>
        <td>{{{@index}}}</td>
        <td>{{this.name}}</td>
        <td>{{this.price}}</td>
        <td><img src="{{this.image.[0]}}" alt="" style="width: 40px;height:40px"></td>
        <td>{{this.category}}</td>
        <td>{{this.is_blocked}}</td>
        <td>{{this.stockQuantity}}</td>
        <td>{{this.productOffer}}</td>

        <td> 

      
        <button class="btn btn-sm hide-unhide-button" onclick="hideUnhideAction('{{this._id}}')"
          style="margin-right: 5px;"></button>
        <button class="btn btn-sm btn-warning edit-button" onclick="editAction('/admin/editProduct/{{this._id}}')"
          style="margin-right: 5px;">Edit</button>
      

        
        </td> --}}
      </tr>
       {{/each}} 
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
  function redirectTo(url) {
    window.location.href = url;

    }

    function confirmAction(url) {
    const confirmed = confirm('Are you sure you want to Hide this product ?');
    if (confirmed) {
      redirectTo(url);
    }
  }

  function displayAction(url) {
    const confirmed = confirm('Are you sure you want to Display this product ?');
    if (confirmed) {
      redirectTo(url);
    }
  }
  function editAction(url) {
    const confirmed = confirm('Are you sure you want to Edit this product ?');
    if (confirmed) {
      redirectTo(url);
    }
  }
 
    $(document).ready(function () {
        // Assuming `productStatus` represents the visibility status of the product
        // true for visible and false for hidden
        var productStatus = true; // Replace with the actual product status

        // Get the button element
        var hideUnhideButton = $('.hide-unhide-button');

        // Set the initial visibility state of the button based on the product status
        hideUnhideButton.css('display', productStatus ? 'none' : 'inline-block');
      });
 
 function hideUnhideAction(productId) {
  $.ajax({
    url: '/admin/hideUnhideProduct/' + productId,
    type: 'POST',
    success: function(response) {
      if (response.isVisible) {
        $('.hide-unhide-button')
          .removeClass('btn-danger')
          .addClass('btn-success')
          .text('Display');
      } else {
        $('.hide-unhide-button')
          .removeClass('btn-success')
          .addClass('btn-danger')
          .text('Hide');
      }
    },
    error: function(error) {
      console.log(error);
    }
  });
  run("/admin/productApi");
}


 
  $(document).ready(function() {
    $('.dropdown-toggle').dropdown();
  });
  async function run(url){
  try{
    let data = await fetch(url);
    let pr = await data.json();
    console.log(pr.prs)
    tBody.innerHTML="";
    let index = 0;
    pr.prs.forEach(val=>{
      
      tBody.innerHTML+=`
         <tr>
          <td>${index+= 1}</td>
          <td style="max-width : 140px">${val.name}</td>
          <td>${val.price}</td>
          <td><img src="${val.image[0]}" alt="" style="width: 40px;height:40px"></td>
                
         <td>${val.category}</td>
          <td>${val.is_blocked}</td>
          <td>${val.stockQuantity}</td>
          <td>${val.productOffer} %</td>
          <td> 
        
        ${val.is_blocked?`
          <button class="btn btn-sm hide-unhide-button btn btn-success" onclick="hideUnhideAction('${val._id}')"
            style="margin-right: 5px;">UNHIDE</button>
        `:`
          <button class="btn btn-sm hide-unhide-button btn btn-danger" onclick="hideUnhideAction('${val._id}')"
            style="margin-right: 5px;">HIDE</button>
        `}
          <button class="btn btn-sm btn-warning edit-button" onclick="editAction('/admin/editProduct/${val._id}')"
            style="margin-right: 5px;">Edit</button>
        
          </td>
        </tr>
      `
    }) 
    
  }catch(err){
    console.log(err)
  }
 }

 let tBody = document.querySelector("table tbody");
 document.addEventListener("DOMContentLoaded",()=>{
  tBody.innerHTML=""
  run("/admin/productApi")
 })

</script>




            









            
            


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/lib/chart/chart.min.js"></script>
    <script src="/admin/lib/easing/easing.min.js"></script>
    <script src="/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin/js/main.js"></script>
</body>

</html>