<!DOCTYPE html>
<html lang="en">


<!-- molla/elements-products.html  22 Nov 2019 10:04:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/site.html">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/css/style.css">
    <style>
  .product-container {
  display: flex;
  flex-wrap: wrap;
  
  gap: 4rem;
}

.product {
  width: 18rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.product-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Add any additional styling as needed */



    </style>
</head>

<body>
    <div class="page-wrapper">
        

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Products<span>Designed for you !!</span></h1>
        		</div><!-- End .container -->
                
        	</div><!-- End .page-header -->
           

            <div class="page-content">
                <div class="container">
                	

                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "992": {
                                    "items":3
                                },
                                "1200": {
                                    "items":4
                                }
                            }
                        }'>
            			

 




                    

                </div><!-- End .container -->
                <div class="product-container" style="margin-top: 8rem;">
                    {{#each products}}
                    <div class="product">
                        <div class="product-inner">
                            <figure class="product-media">
                                {{#if (gt this.productOffer 0)}}
                                <span class="product-label label-sale">{{this.productOffer}}% OFF</span>
                                {{/if}}
                                <a href="/productDetailPageLoad/{{this._id}}">
                                    <img src="{{this.image.[0]}}" alt="Product image" class="product-image">
                                </a>
                                <div class="product-action action-icon-top">
                                    {{!-- <a href="" class="btn-product btn-cart"><span>add to cart</span></a> --}}
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->
                
                            <div class="product-body">
                                <div class="product-cat">
                                    <a href=""></a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="/productDetailPageLoad/{{this._id}}">{{this.name}}</a></h3><!-- End .product-title -->
                                <div class="product-price">

                                    <div class="product-price">
                                        {{#if (gt this.productOffer 0)}}
                                        <span class="new-price"> ₹&nbsp{{ this.discountedPrice}}</span><br>
                                        <span class="old-price"><s>{{this.price}}</s></span>
                                        {{else}}
                                        <span class="new-price"> ₹&nbsp{{this.price}}</span><br>
                                        {{/if}}
                                    
                                    
                                        {{!-- ₹ {{product.price}} --}}
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product-inner -->
                    </div><!-- End .product -->
                    {{/each}}
                </div><!-- End .product-container -->

                

                
            </div><!-- End .page-content -->

            <!-- Elements list -->

            
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/images/homescape-logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                    height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros
                                    eu erat. </p>
        
                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
        
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
        
                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
        
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
        
                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
        
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
        
                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->
        
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->

       