{{!-- <!DOCTYPE html>
<html lang="en">


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Molla - Bootstrap eCommerce Template</title>
  <meta name="keywords" content="HTML5 Template">
  <meta name="description" content="Molla - Bootstrap eCommerce Template">
  <meta name="author" content="p-themes">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/images/icons/site.html">
  <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#666666">
  <link rel="shortcut icon" href="/images/icons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Molla">
  <meta name="application-name" content="Molla">
  <meta name="msapplication-TileColor" content="#cc9966">
  <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Plugins CSS File -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Main CSS File -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <style>
    .account-details {
      margin-bottom: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    table td {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    #edit-button {
      display: inline-block;
      padding: 8px 16px;
      background-color: #337ab7;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    #edit-button:hover {
      background-color: #23527c;
    }

    .form-group {
      width: 80%;
      margin: 1rem auto;
    }

    .btn btn-primary {
      margin-left: 1rem;
    }
  </style>

</head>

<body>
  <div class="page-wrapper">


    <main class="main">


      <div class="page-content">
        <div class="dashboard">
          <div class="container">
            <div class="row">
              <aside class="col-md-4 col-lg-3">
                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist" style="padding-top: 2rem;">
                  <div class="profile-icon " class="pt-5">
                    <i class="fas fa-user-circle fa-3x" class="pt-5"></i>
                  </div>
                  <li class="nav-item">

                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard"
                      role="tab" aria-controls="tab-dashboard" aria-selected="true">My profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab"
                      aria-controls="tab-orders" aria-selected="false">Orders</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab"
                      aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab"
                      aria-controls="tab-address" aria-selected="false">Adresses</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab"
                      aria-controls="tab-account" aria-selected="false">Account Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Sign Out</a>
                  </li>
                </ul>
              </aside><!-- End .col-lg-3 -->

              <div class="col-md-8 col-lg-9">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                    aria-labelledby="tab-dashboard-link">
                    <!-- Dashboard content goes here -->

                    <div class="account-details">
                      <h4>Personal Information</h4>
                      <table>
                        <tr>
                          <td>Name:</td>
                          <td id="name">{{userData.name}}</td>

                        </tr>
                        <tr>
                          <td>Phone:</td>
                          <td id="phone">{{userData.mobile}}</td>
                        </tr>
                        <tr>
                          <td>Email:</td>
                          <td id="email">{{userData.email}}</td>
                        </tr>
                        <td>Address</td>
                        <td id="address">
                          {{shipping.name}}<br>
                          {{shipping.streetAddress}}<br>
                          {{shipping.phone}}<br>
                          {{shipping.pincode}}<br>
                        </td>
                        </tr>
                      </table>
                      <div class="pt-3">

                        <button id="edit-button">Edit</button>
                      </div>
                    </div>

                  </div>
                  <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                    <div class="container mt-5">
                      <h2>User Orders</h2>
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Image</th>
                              <th>Product name</th>
                              <th>Quantity</th>
                              <th>Price</th>
                              <th>Total</th>
                              <th>Address</th>
                              <th>Order Note</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each orders}}
                            {{#each this.products}}
                            <tr>
                              <td><img src="{{image}}" alt="Product Image" class="product-image"
                                  style="height:50px;width: 50px;"></td>
                              <td class="product-name" style="font-size: small;">{{name}} </td>
                              <td>{{quantity}}</td>
                              <td>{{price}}</td>

                              <td>{{../streetAddress}}, <br>{{../pincode}}</td>
                              <td>{{../ordernote}}</td>
                              <td>{{../status}}</td>
                              
                            </tr>
                            {{/each}}
                            {{/each}}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>











                  <p>No order has been made yet.</p>


                  <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
                      class="icon-long-arrow-right"></i></a>
                </div><!-- .End .tab-pane -->





              <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                  <p>The following addresses will be used on the checkout page by default.</p>


                  <div>
                    <div class="row h-2 mt-5 col-lg-10" style="max-height:1rem,overflow:hidden; ">
                      <div class="col-lg-6">
                        <div
                          style="display:flex;background-color:white;overflow-x:scroll;overflow-y:hidden;height:25rem">
                          {{#each addr}}
                          <div class="card-body" style="display: block;">
                            <h3 class="card-title">User Addresses</h3><!-- End .card-title -->

                            <p>{{this.name}}<br>
                              {{this.streetAddress}}<br>
                              {{this.phone}}<br>
                              {{this.pincode}}<br>

                              <a href="#">Edit <i class="icon-edit"></i></a>
                            </p>
                            <button id="makeDefaultBtn-{{this._id}}" class="btn btn-danger"
                              onclick="makeDefaultAddress('{{this._id}}')">Make Default Address</button>

                          </div><!-- End .card-body -->
                          {{/each}}

                        </div>
                      </div><!-- End .col-lg-6 -->
                    </div>
                    <div class="row mt-5 col-lg-10">
                      <div class="col-lg-6">
                        <div class="card card-dashboard">
                          <div class="card-body">
                            <h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

                            <p>{{shipping.name}}<br>
                              {{shipping.streetAddress}}<br>
                              {{shipping.phone}}<br>
                              {{shipping.pincode}}<br>
                              {{!-- <a href="#">Edit <i class="icon-edit"></i></a></p> --}}
                          </div><!-- End .card-body -->
                        </div><!-- End .card-dashboard -->
                      </div><!-- End .col-lg-6 -->
                    </div>
                    <!-- Button to trigger the modal -->
                    <button type="button" class="btn btn-primary" style="margin-left: 1rem;" data-toggle="modal"
                      data-target="#addAddressModal" class="ml-5">
                      Add Address
                    </button>
                  </div><!-- End .row -->
              </div><!-- .End .tab-pane -->

                {{!----------------------------------------------------------------------------}}
                <!-- address-form.html -->



                <!-- Modal -->
                <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/add-address/{{userData._id}}" method="post" id="address-form"
                          class="d-flex flex-column align-items-center">

                          <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                          </div>
                          <div class="form-group">
                            <label for="streetAddress">Street Address:</label>
                            <input type="text" class="form-control" id="streetAddress" name="streetAddress" required>
                          </div>

                          <div class="form-group">
                            <label for="pincode">Pincode:</label>
                            <input type="number" class="form-control" id="pincode" name="pincode" required>
                          </div>

                          <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input type="number" class="form-control" id="phone" name="phone" required>
                          </div>

                          <button type="submit" class="btn btn-primary m-4">Save Address</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>


                {{!----------------------------------------------------------------------------}}

                <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                  <form action="#">
                    <div class="row">
                      <div class="col-sm-6">
                        <label>First Name *</label>
                        <input type="text" class="form-control" required>
                      </div><!-- End .col-sm-6 -->

                      <div class="col-sm-6">
                        <label>Last Name *</label>
                        <input type="text" class="form-control" required>
                      </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->

                    <label>Display Name *</label>
                    <input type="text" class="form-control" required>
                    <small class="form-text">This will be how your name will be displayed in the account section and in
                      reviews</small>

                    <label>Email address *</label>
                    <input type="email" class="form-control" required>

                    <label>Current password (leave blank to leave unchanged)</label>
                    <input type="password" class="form-control">

                    <label>New password (leave blank to leave unchanged)</label>
                    <input type="password" class="form-control">

                    <label>Confirm new password</label>
                    <input type="password" class="form-control mb-2">

                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>SAVE CHANGES</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>
                  </form>
                </div><!-- .End .tab-pane -->
              </div>
            </div><!-- End .col-lg-9 -->
          </div><!-- End .row -->
        </div><!-- End .container -->
      </div><!-- End .dashboard -->
  </div><!-- End .page-content -->
  </main><!-- End .main -->

  <footer class="footer">
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget-about">
              <img src="/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
              <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
              </p>

              <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
              </div><!-- End .soial-icons -->
            </div><!-- End .widget about-widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="about.html">About Molla</a></li>
                <li><a href="#">How to shop on Molla</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a href="login.html">Log in</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Money-back guarantee!</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="#">Sign In</a></li>
                <li><a href="cart.html">View Cart</a></li>
                <li><a href="#">My Wishlist</a></li>
                <li><a href="#">Track My Order</a></li>
                <li><a href="#">Help</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
      <div class="container">
        <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
        <figure class="footer-payments">
          <img src="/images/payments.png" alt="Payment methods" width="272" height="20">
        </figure><!-- End .footer-payments -->
      </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
  </footer><!-- End .footer -->
  </div><!-- End .page-wrapper -->
  <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

  <!-- Mobile Menu -->
  <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

  <div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
      <span class="mobile-menu-close"><i class="icon-close"></i></span>

      <form action="#" method="get" class="mobile-search">
        <label for="mobile-search" class="sr-only">Search</label>
        <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
          required>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
      </form>



      <div class="social-icons">
        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
      </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
  </div><!-- End .mobile-menu-container -->

  <!-- Sign in / Register Modal -->
  <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="icon-close"></i></span>
          </button>

          <div class="form-box">
            <div class="form-tab">
              <ul class="nav nav-pills nav-fill" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                    aria-controls="signin" aria-selected="true">Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                    aria-controls="register" aria-selected="false">Register</a>
                </li>
              </ul>

            </div><!-- End .form-tab -->
          </div><!-- End .form-box -->
        </div><!-- End .modal-body -->
      </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
  </div><!-- End .modal -->

  <!-- Plugins JS File -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.hoverIntent.min.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/superfish.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <!-- Main JS File -->
  <script src="/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <script>
    {
      {
        !-- function makeDefaultAddress(addressId) {
          //send the address id when clicked along with the addressId
          console.log('the address id in the hbs page', addressId)

          //reset the previously clicked button to red
          const previousButton = document.querySelector('.btn-success');
          if (previousButton) {
            previousButton.classList.remove('btn-success');
            previousButton.classList.add('btn-danger');
            previousButton.textContent = 'Make Default Address'
          }




          const url = `/makeDefaultAddress/${addressId}`;
          window.location.href = url;

          //change the button color after it is clicked

          const button = document.getElementById(`makeDefaultBtn-${addressId}`);
          button.classList.remove('btn-danger');
          button.classList.add('btn-success');
          button.textContent = 'Default Address'

        } --}
    }

    function makeDefaultAddress(addressId) {
      // Reset the previously clicked button to red
      const previousButton = document.querySelector('.btn-success');
      if (previousButton) {
        previousButton.classList.remove('btn-success');
        previousButton.classList.add('btn-danger');
        previousButton.textContent = 'Make Default Address';
      }

      // Change the button color after it is clicked
      const button = document.getElementById(`makeDefaultBtn-${addressId}`);
      button.classList.remove('btn-danger');
      button.classList.add('btn-success');
      button.textContent = 'Default Address';

      // Store the state in local storage
      localStorage.setItem('defaultButton', addressId);

      // Send the addressId to the server to update the default address state
      const url = `/makeDefaultAddress/${addressId}`;
      window.location.href = url;
    }

    // Check the local storage on page load and update the button if needed
    document.addEventListener('DOMContentLoaded', function () {
      const defaultButtonId = localStorage.getItem('defaultButton');
      if (defaultButtonId) {
        const button = document.getElementById(`makeDefaultBtn-${defaultButtonId}`);
        button.classList.remove('btn-danger');
        button.classList.add('btn-success');
        button.textContent = 'Default Address';
      }
    });



  </script>
</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

</html> --}}
















<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Successful</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <div class="container mt-14">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Order Successful</h1>
        <p>Your order has been placed successfully.</p>
        <p>Happy Shopping.</p>
        <a href="/home" class="btn btn-primary">Continue Shopping</a>
      </div>
    </div>
  </div>




  const createError = require('http-errors');
  const express = require('express');
  const path = require('path');
  const cookieParser = require('cookie-parser');
  const logger = require('morgan');
  const multer = require('multer');
  const errorMiddleware = require('./errorMiddleware');
  require('dotenv').config();
  const session = require('express-session');
  const handlebars = require('express-handlebars');
  const mongoose = require('./database/db');
  const handlebarsHelpers = require("handlebars-helpers").comparison({ handlebars });
  
  const adminRouter = require('./routes/admin');
  const usersRouter = require('./routes/users');
  
  const app = express();
  
  const hbs = handlebars.create({
  extname: "hbs",
  defaultLayout: "layout",
  layoutsDir: path.join(__dirname, "views/layouts"),
  partialsDir: path.join(__dirname, "views/partials"),
  runtimeOptions: {
  allowProtoPropertiesByDefault: true,
  allowProtoMethodsByDefault: true,
  },
  helpers: handlebarsHelpers.helpers, // Register the helpers directly here
  });
  
  // view engine setup
  app.set('view engine', 'hbs');
  app.set('views', path.join(__dirname, 'views'));
  app.engine('hbs', hbs.engine);
  
  app.use(logger('dev'));
  app.use(express.json());
  app.use(express.urlencoded({ extended: false }));
  app.use(cookieParser());
  app.use(express.static(path.join(__dirname, 'public')));
  app.use(express.urlencoded({ extended: true }));
  app.use(express.json());
  
  app.use(session({
  secret: process.env.SECRET_KEY,
  resave: false,
  saveUninitialized: false
  }));
  
  app.use('/admin', adminRouter);
  app.use('/', usersRouter);
  
  // catch 404 and forward to error handler
  app.use(function(req, res, next) {
  next(createError(404));
  });
  
  // error handler
  app.use(errorMiddleware);
  
  app.listen(3000, () => {
  console.log('🚀 Server is Launched');
  });